/* Sketch Area */
body {
	text-align: center;
}

div{
	margin: 0;
	padding: 0;
}

#wrapper {
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 500px;
	width: 500px;
	background-color: midnightblue;
	font-size: 0;
	border: 2px solid black;
}

.box {
	display: none;
	margin: 0;
	padding: 0;
	height: 500px;
	width: 500px;
	background-color: crimson;
	text-align: center; /* Make all element in it to center.*/
}

.units {
	display: inline-block;
	margin: 0;
	padding: 0;
	background-color: teal;
/*	border: 0.5px dotted pink; */
}

.units_enter {
	background-color: #000;
}

.units_leave {
	background-color: #333;
}

/* Settings Area */
#settings {
	display: block;
	text-align: center;
	padding: 20px 0 20px 0;
}